<nav>
    <div class="site-title">
        <a href="/"><h1>Group 2</h1></a>
        <p>A Group 2 Site</p>
    </div>
    <ul>
        <li><a href="/"><button class="btn">Class lists</button></a></li>
        <li><a href="/about"><button class="btn">About</button></a></li>
        <li><a href="/blogs/create"><button class="btn">Add a class</button></a></li>
    </ul>
</nav>