<nav>
    <div class="site-title">
        <a href="/"><h1>Group 2</h1></a>
        <p>A Group 2 Site</p>
    </div>
    <ul>
        <li><a href="/">Class lists or something..</a></li>
        <li><a href="/about">About</a></li>
        <li><a href="/blogs/create">Add a class...</a></li>
    </ul>
</nav>