<html lang="en">
    <%- include ('./partials/head.ejs') %>
<body>
    
    <%- include('./partials/nav.ejs') %>

    <div class="not-found content">
        <h2>404 Error</h2>
        <p>Sorry, that page cannot be found</p>
    </div>
    <button ><a href="/">Back to the homepage...</a></button>
<%- include('./partials/footer.ejs') %>
    
</body>
</html>
