<html lang="en">
<%- include ('./partials/head.ejs') %>
<body>
    
    <%- include('./partials/nav.ejs') %>
    <div class="about content">
<<<<<<< Updated upstream
        <h2>About Us</h2>
        <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Quia quibusdam quaerat illo a modi
        <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Quia quibusdam quaerat illo a modi
        <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Quia quibusdam quaerat illo a modi
=======
        <h2 id="info">About Us</h2>
        <h4 id="us"> Welcome to Group 2's collaborative effort in building a platform for educational exploration! 
            Meet the minds behind the scenes— Salem BenMna, Pooneh Jamshidi, Susan Gibson and Reed Peglow
            —united by a shared passion for creating a seamless and intuitive experience for students and educators alike.</h4>
>>>>>>> Stashed changes
    </div>
<%- include('./partials/footer.ejs') %>
</bodv>
</html>
