<html lang="en">
<%- include ('./partials/head.ejs') %>
<body>
<%- include('./partials/nav.ejs') %>
    <div class="create-blog content">
        <form action="/blogs" method="POST" onsubmit="return validateForm()">
            <div class="card">
                <!-- instructor, name, description, subject, credits -->

                <label for="instructor">Instructor: </label>
                <input type="text" id="instructor" name="instructor" required>

                <label for="name">Course Name: </label>
                <input type="text" id="name" name="name" required>
            
                <label for="description">Description: </label>
                <input type="text" id="description" name="description" required>
            
                <label for="subject">Subject: </label>
                <textarea id="subject" name="subject" required></textarea>

                <label for="credits">Credits: </label>
                <input id="credits" name="credits" required></textarea>
            
                <button class="btn btn-lg btn-primary" type="submit">Add class</button>
            </div>
        </form>
    </div>

        
<%- include('./partials/footer.ejs') %>
</body>
</html>
