<html lang="en">
<%- include ('./partials/head.ejs') %>
<body>
<%- include('./partials/nav.ejs') %>
    <div class="create-blog content">
        <form action="/blogs" method="POST">
            <div class="card">

            <label for="title">Course Title: </label>
            <input type="text" id="title" name="title" required>
        
            <label for="instructor">Instructor: </label>
            <input type="text" id="instructor" name="instructor" required>
        
            <label for="classDescription">Description: </label>
            <textarea id="classDescription" name="classDescription" required></textarea>
        
            <button class="btn btn-lg btn-primary" type="submit">Add class</button>
    </div>

        </form>
<%- include('./partials/footer.ejs') %>
</body>
</html>